<?php

return [
    'modules' => [
        'BsbFlysystem'
    ],
    'module_listener_options' => [
        'config_glob_paths' => [
            __DIR__ . '/Assets/bsb_flysystem.global.php',
        ],
        'module_paths' => []
    ],
];