<?php

return array(
    'modules' => array(
        'BsbFlysystem'
    ),

    'module_listener_options' => array(
        'config_glob_paths' => array(
            __DIR__ . '/../config/module.config.php',
            __DIR__ . '/BsbFlysystemTest/Assets/bsb_flysystem.global.php',
        ),
        'module_paths' => array()
    ),
);