<?php

return [
    'bsb_flysystem' => [
        'adapters' => [
            'local_files'     => [
                'type'    => 'local',
                'options' => [
                    'root' => './data/files'
                ],
            ],
            'sftp_default'      => [
                'type'    => 'sftp',
                'options' => [
                    'host'     => 'xxxxx.xxx',
                    'port'     => 21,
                    'username' => 'xxxxx',
                    'password' => 'xxxxx',
                    // 'privateKey' => 'path/to/or/contents/of/privatekey',
                    // 'root' => '/path/to/root',
                    // 'timeout' => 10,
                ],
            ],
            'zip_default'       => [
                'type'    => 'zip',
                'options' => [
                    'archive' => './data/files.zip',
                    'prefix'  => '/'
                ],
            ],
            'rackspace_default' => [
                'type'    => 'rackspace',
                'options' => [
                    'url'         => "http://api-uri",
                    'secret'      => [
                        'username' => "xxxxx",
                        'password' => "xxxxx",
                    ],
                    'objectstore' => [
                        'name'      => 'xxxxx',
                        'region'    => 'XX',
                        'url_type'  => 'publicURL',
                        'container' => 'xxxxx'
                    ],
                    'prefix'      => '/'
                ],
            ],
            'dropbox_default'   => [
                'type'    => 'dropbox',
                'options' => [
                    'access_token' => 'xxxxx',
                    'prefix'       => '/'
                ],
            ],
            'awss3v3_default'     => [
                'type'       => 'awss3v3',
                'options'    => [
                    'endpoint'   => 'http://minio:9000', // optional: Override endpoint: when using another s3 compatible host, remove line if not using
                    'use_path_style_endpoint' => false,
                    'credentials' => [
                        'key'    => 'your-app-id',
                        'secret' => 'xxxxx',
                    ],
                    'region'  => 'us-east-1',
                    'bucket'  => 'xxxxx',
                    'version' => 'latest|version', // default: 'latest'
                    'request.options' => [], // Guzzle request options; see http://docs.guzzlephp.org/en/latest/request-options.html#proxy
                ],
            ],
            'webdav_default'    => [
                'type'    => 'webdav',
                'options' => [
                    'baseUri'  => 'http://demo.sabredav.org/',
                    'userName' => 'testuser',
                    'password' => 'test'
                ],
            ],
            'azure_default' => [
                'type' => 'azure',
                'options' => [
                    'container'    => 'your-container',
                    'account-name' => 'xxxxx',
                    'account-key'  => 'xxxxx'
                ],
            ]
        ],
        'filesystems' => [
            'files' => [
                'adapter'   => 'xxxx',
                'cache'     => false,
                'eventable' => false,
            ],
        ],
    ],
];
