<?php

return [
    'bsb_flysystem' => [
        'adapters' => [
            'local_files'     => [
                'type'    => 'local',
                'options' => [
                    'root' => './data/files'
                ],
            ],
            'sftp_default'      => [
                'type'    => 'sftp',
                'options' => [
                    'host'     => 'xxxxx.xxx',
                    'port'     => 21,
                    'username' => 'xxxxx',
                    'password' => 'xxxxx',
                    // 'privateKey' => 'path/to/or/contents/of/privatekey',
                    // 'root' => '/path/to/root',
                    // 'timeout' => 10,
                ],
            ],
            'zip_default'       => [
                'type'    => 'zip',
                'options' => [
                    'archive' => './data/files.zip',
                    'prefix'  => '/'
                ],
            ],
            'rackspace_default' => [
                'type'    => 'rackspace',
                'options' => [
                    'url'         => "http://api-uri",
                    'secret'      => [
                        'username' => "xxxxx",
                        'password' => "xxxxx",
                    ],
                    'objectstore' => [
                        'name'      => 'xxxxx',
                        'region'    => 'XX',
                        'url_type'  => 'publicURL',
                        'container' => 'xxxxx'
                    ],
                    'prefix'      => '/'
                ],
            ],
            'dropbox_default'   => [
                'type'    => 'dropbox',
                'options' => [
                    'client_identifier' => 'app_id',
                    'access_token'      => 'xxxxx',
                    'prefix'            => '/'
                ],
            ],
            'awss3_default'     => [
                'type'    => 'awss3',
                'options' => [
                    'key'    => 'your-app-id',
                    'secret' => 'xxxxx',
                    'bucket' => 'xxxxx'
                ],
            ],
            'webdav_default'    => [
                'type'    => 'webdav',
                'options' => [
                    'baseUri'  => 'http://demo.sabredav.org/',
                    'userName' => 'testuser',
                    'password' => 'test'
                ],
            ],
        ],
        'filesystems' => [
            'files' => [
                'adapter' => 'xxxx',
                'cache' => false,
                'eventable' => false,
            ],
        ],
    ],
];
