name: "Test"

on:
  pull_request:
    branches:
      - "master"
  push:
    branches:
      - "master"

jobs:
  unit-tests:
    name: "Unit Tests"
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        dependencies:
          - "--prefer-lowest"
          - ""
        php-version:
          - "8.0"
          - "7.4"
        composer:
          - "v2"
        include:
          - php-version: "7.3"
            composer: "v1"
            dependencies: "--prefer-lowest"
          - php-version: "7.3"
            composer: "v1"
            dependencies: ""

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"
      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          php-version: "${{ matrix.php-version }}"
          tools: "composer:${{ matrix.composer }}"
      - name: "Install dependencies"
        run: "composer update ${{ matrix.dependencies }} --no-interaction"
      - name: "Run tests"
        run: "vendor/bin/phpunit"

  coverage:
    name: "Publish coverage"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"
      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          php-version: "8.0"
          tools: "composer:v2"
          coverage: "pcov"
      - name: "Install dependencies"
        run: "composer update --no-interaction"
      - name: "Generate coverage"
        run: "vendor/bin/phpunit --coverage-text --coverage-clover ./test/_build/logs/clover.xml --configuration ./phpunit.xml.dist"
      - name: "Publish coverage"
        run: "vendor/bin/php-coveralls -v"


  coding-standard:
    name: "Coding standard"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"
      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          php-version: "8.0"
          tools: "composer:v2"
      - name: "Install dependencies"
        run: "composer update --no-interaction"
      - name: "Check coding standard"
        run: "vendor/bin/php-cs-fixer fix -v --diff --dry-run"
